.data-card {
  background: white;
  margin: 3rem;
  height: 100%;
  padding-bottom: 2rem;
  border-radius: 0.7rem;
  @include flex-column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
  align-items: center;
  $header-height: 5rem;
  transition: all 0.2s ease-in-out;
  flex: 1;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.17);

    .card-header {
      background-position-x: 100%;
    }
  }
  .card-header {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    height: $header-height;
    padding: 2rem;
    margin: 1rem;
    border-bottom: 0.1rem solid #ccc;
    background: linear-gradient(
      to right,
      darken($color-primary, 0),
      darken($color-primary, 20),
      darken($color-primary, 20)
    );
    background-size: 200% 100%;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 183, 255, 0.3), -5px 0 10px rgb(255, 255, 255), 5px 0 10px rgb(255, 255, 255);
    transform: translateY(-50%);
    border-radius: 1rem;
    color: white;
    transition: all 0.5s ease-in-out;

    .title {
      text-transform: capitalize;
      font-size: 1.6rem;
    }
  }

  .card-content {
    height: calc(100% - #{$header-height});
    width: 100%;
    overflow-y: scroll;
  }
}
