$whiteColor: #ffffff;
$darkBlueColor: #1c3256;
$darkGreyColor: #727e92;
$lightgreyColor: #f1f2f6;
$active: #38c892;
$charging: #ffca00;
$error: #ec1e46;
$waiting: rgba(28, 50, 86, 0.15);
$barSize: 7rem;
$gradient: linear-gradient(-120deg, #45b8fa 0%, #98dbfa 100%);
